[submodule "readium/navigator/src/main/assets/_scripts/src/epub/epub.js"]
	path = readium/navigator/src/main/assets/_scripts/src/epub/epub.js
	url = git@github.com:avnotaklu/epub.js.git
	branch = my_epub_reader
